<!-- Contact -->
		<section>
			<h2>Other ways to reach us</h2>
			<ul class="bulleted-icons">
				<li>
					<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
					<h3>Email</h3>
					<p><a href="{{contact.HrefEmail}}">{{contact.Email}}</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
					<h3>Twitter</h3>
					<p><a href="{{contact.HrefTwitter}}">{{contact.Twitter}}</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-phone"></span></span>
					<h3>Phone</h3>
					<p>{{contact.Phone}}</p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
					<h3>Facebook</h3>
					<p><a href="{{contact.HrefFacebook}}">{{contact.Facebook}}</a></p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-home"></span></span>
					<h3>Mailing Address</h3>
					<p>1234 Fictional Avenue<br />
					Nashville, TN 00000<br />
					United States
					</p>
				</li>
				<li>
					<span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
					<h3>LinkedIn</h3>
					<p><a href="{{contact.HrefLinkedIn}}">{{contact.Linkedin}}</a></p>
				</li>
			</ul>
		</section>